{
  "log": {
    "_recordingName": "pept2ec",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e7f60c76d989fd5d9ac51208caed1058",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"input\":[\"AALTER\"]}"
          },
          "queryString": [],
          "url": "https://api.unipept.ugent.be/api/v2/pept2ec.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 20296,
            "text": "[{\"peptide\":\"AALTER\",\"total_protein_count\":7594,\"ec\":[{\"ec_number\":\"2.7.4.7\",\"protein_count\":1},{\"ec_number\":\"1.1.1.169\",\"protein_count\":2},{\"ec_number\":\"2.1.1.13\",\"protein_count\":2},{\"ec_number\":\"4.3.1.19\",\"protein_count\":2},{\"ec_number\":\"4.1.1.111\",\"protein_count\":2},{\"ec_number\":\"2.7.13.3\",\"protein_count\":282},{\"ec_number\":\"1.14.11.-\",\"protein_count\":1},{\"ec_number\":\"2.7.7.3\",\"protein_count\":11},{\"ec_number\":\"2.1.1.107\",\"protein_count\":2},{\"ec_number\":\"3.2.1.86\",\"protein_count\":2},{\"ec_number\":\"2.7.7.59\",\"protein_count\":1},{[...]
