{
  "log": {
    "_recordingName": "pept2ec",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a4e899acd90e0918be57b532d209f75d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"input\":[\"AALTER\"]}"
          },
          "queryString": [],
          "url": "https://api.unipept.ugent.be/api/v2/pept2ec.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 22345,
            "text": "[{\"peptide\":\"AALTER\",\"cutoff_used\":true,\"total_protein_count\":9050,\"ec\":[{\"ec_number\":\"6.3.2.17\",\"protein_count\":2},{\"ec_number\":\"2.1.2.3\",\"protein_count\":2},{\"ec_number\":\"2.5.1.147\",\"protein_count\":2},{\"ec_number\":\"2.7.1.40\",\"protein_count\":1},{\"ec_number\":\"2.3.1.157\",\"protein_count\":1},{\"ec_number\":\"2.1.1.290\",\"protein_count\":1},{\"ec_number\":\"1.2.4.4\",\"protein_count\":3},{\"ec_number\":\"2.3.2.31\",\"protein_count\":1},{\"ec_number\":\"2.7.7.59\",\"protein_count\":2},{\"ec_number\":\"7.6.2.2\",\"protein_count\":9},{\"ec_number\":\"4.1.1.19\",\"protein_count\":1},{\"ec_n[...]
