{
  "log": {
    "_recordingName": "protinfo",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "35f3ba963b0af1a9e6f6e2b9d5b69418",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"input\":[\"P78330\"]}"
          },
          "queryString": [],
          "url": "https://api.unipept.ugent.be/api/v2/protinfo.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 554,
            "text": "[{\"protein\":\"P78330\",\"name\":\"Phosphoserine phosphatase\",\"taxon_id\":9606,\"taxon_name\":\"Homo sapiens\",\"taxon_rank\":\"species\",\"ec\":[{\"ec_number\":\"3.1.3.3\"}],\"go\":[{\"go_term\":\"GO:0005737\"},{\"go_term\":\"GO:0005829\"},{\"go_term\":\"GO:0042802\"},{\"go_term\":\"GO:0036424\"},{\"go_term\":\"GO:0000287\"},{\"go_term\":\"GO:0042803\"},{\"go_term\":\"GO:0001701\"},{\"go_term\":\"GO:0006564\"},{\"go_term\":\"GO:0006563\"},{\"go_term\":\"GO:0009612\"},{\"go_term\":\"GO:0031667\"},{\"go_term\":\"GO:0033574\"}],\"ipr\":[{\"code\":\"IPR050582\"},{\"code\":\"IPR036412\"},{\"code\":\"IPR023214\"},{\"code\":\"IPR004469\"}]}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 111,
      },
      {
        "_id": "35f3ba963b0af1a9e6f6e2b9d5b69418",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"input\":[\"P78330\"]}"
          },
          "queryString": [],
          "url": "https://api.unipept.ugent.be/api[...]
