{
  "log": {
    "_recordingName": "pept2interpro",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b87e802aa605515c288282b6486b47a6",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"input\":[\"AALTER\"]}"
          },
          "queryString": [],
          "url": "https://api.unipept.ugent.be/api/v2/pept2interpro.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 209621,
            "text": "[{\"peptide\":\"AALTER\",\"cutoff_used\":true,\"total_protein_count\":9050,\"ipr\":[{\"code\":\"IPR000719\",\"protein_count\":77},{\"code\":\"IPR001041\",\"protein_count\":13},{\"code\":\"IPR000788\",\"protein_count\":1},{\"code\":\"IPR000674\",\"protein_count\":2},{\"code\":\"IPR025712\",\"protein_count\":1},{\"code\":\"IPR036770\",\"protein_count\":80},{\"code\":\"IPR036511\",\"protein_count\":1},{\"code\":\"IPR002523\",\"protein_count\":4},{\"code\":\"IPR055367\",\"protein_count\":1},{\"code\":\"IPR000326\",\"protein_count\":1},{\"code\":\"IPR013507\",\"protein_count\":3},{\"code\":\"IPR014036\",\"protein_count\":7}[...]
