{
  "log": {
    "_recordingName": "pept2interpro",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3206b9a5f60326230f7c52e94e5b644e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"input\":[\"AALTER\"]}"
          },
          "queryString": [],
          "url": "https://api.unipept.ugent.be/api/v2/pept2interpro.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 171177,
            "text": "[{\"peptide\":\"AALTER\",\"total_protein_count\":7594,\"ipr\":[{\"code\":\"IPR020945\",\"protein_count\":4},{\"code\":\"IPR052896\",\"protein_count\":1},{\"code\":\"IPR001915\",\"protein_count\":1},{\"code\":\"IPR042262\",\"protein_count\":1},{\"code\":\"IPR036063\",\"protein_count\":4},{\"code\":\"IPR050904\",\"protein_count\":6},{\"code\":\"IPR033690\",\"protein_count\":8},{\"code\":\"IPR000740\",\"protein_count\":2},{\"code\":\"IPR012766\",\"protein_count\":4},{\"code\":\"IPR050194\",\"protein_count\":4},{\"code\":\"IPR003682\",\"protein_count\":1},{\"code\":\"IPR001471\",\"protein_count\":1},{\[...]
