{
  "log": {
    "_recordingName": "taxonomy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6dfb67d0a1ef2d62d633936c199a089f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"input\":[216816]}"
          },
          "queryString": [],
          "url": "https://api.unipept.ugent.be/api/v2/taxonomy.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 82,
            "text": "[{\"taxon_id\":216816,\"taxon_name\":\"Bifidobacterium longum\",\"taxon_rank\":\"species\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 104,
      },
      {
        "_id": "6dfb67d0a1ef2d62d633936c199a089f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"input\":[216816]}"
          },
          "queryString": [],
          "url": "https://api.unipept.ugent.be/api/v2/taxonomy.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 82,
            "text": "[{\"taxon_id\":216816,\"taxon_name\":\"Bifidobacterium longum\",\"taxon_rank\":\"species\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 25,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
