{
  "log": {
    "_recordingName": "pept2taxa",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "36f21f6906b73cb13c0ba53d9ae91511",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"input\":[\"AALTER\"]}"
          },
          "queryString": [],
          "url": "https://api.unipept.ugent.be/api/v2/pept2taxa.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 782297,
            "text": "[{\"peptide\":\"AALTER\",\"cutoff_used\":true,\"taxon_id\":24,\"taxon_name\":\"Shewanella putrefaciens\",\"taxon_rank\":\"species\"},{\"peptide\":\"AALTER\",\"cutoff_used\":true,\"taxon_id\":35,\"taxon_name\":\"Corallococcus macrosporus\",\"taxon_rank\":\"species\"},{\"peptide\":\"AALTER\",\"cutoff_used\":true,\"taxon_id\":41,\"taxon_name\":\"Stigmatella aurantiaca\",\"taxon_rank\":\"species\"},{\"peptide\":\"AALTER\",\"cutoff_used\":true,\"taxon_id\":52,\"taxon_name\":\"Chondromyces crocatus\",\"taxon_rank\":\"species\"},{\"peptide\":\"AALTER\",\"cutoff_used\":true,\"taxon_id\":54,\"taxon_name\":\"Nannocystis ex[...]
