{
  "log": {
    "_recordingName": "pept2taxa",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ef212f25dc1e445fce0ac81d101c1bfe",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"input\":[\"AALTER\"]}"
          },
          "queryString": [],
          "url": "https://api.unipept.ugent.be/api/v2/pept2taxa.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 645748,
            "text": "[{\"peptide\":\"AALTER\",\"taxon_id\":9796,\"taxon_name\":\"Equus caballus\",\"taxon_rank\":\"species\"},{\"peptide\":\"AALTER\",\"taxon_id\":2714738,\"taxon_name\":\"Neorhodopirellula pilleata\",\"taxon_rank\":\"species\"},{\"peptide\":\"AALTER\",\"taxon_id\":1964395,\"taxon_name\":\"Mycobacterium ahvazicum\",\"taxon_rank\":\"species\"},{\"peptide\":\"AALTER\",\"taxon_id\":166793,\"taxon_name\":\"Solirubrobacter pauli\",\"taxon_rank\":\"species\"},{\"peptide\":\"AALTER\",\"taxon_id\":767770,\"taxon_name\":\"Aspergillus tubingensis CBS 134.48\",\"taxon_rank\":\"strain\"},{\"peptide\":\[...]
