{
  "log": {
    "_recordingName": "pept2funct",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ebcc4d6f6d141633a4d27623e47a5585",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"input\":[\"AALTER\"]}"
          },
          "queryString": [],
          "url": "https://api.unipept.ugent.be/api/v2/pept2funct.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 330974,
            "text": "[{\"peptide\":\"AALTER\",\"cutoff_used\":true,\"total_protein_count\":9050,\"ec\":[{\"ec_number\":\"1.13.11.2\",\"protein_count\":1},{\"ec_number\":\"5.1.1.3\",\"protein_count\":3},{\"ec_number\":\"4.4.1.13\",\"protein_count\":2},{\"ec_number\":\"2.6.1.13\",\"protein_count\":10},{\"ec_number\":\"3.5.99.2\",\"protein_count\":1},{\"ec_number\":\"1.1.1.262\",\"protein_count\":1},{\"ec_number\":\"3.-.-.-\",\"protein_count\":2},{\"ec_number\":\"2.7.7.42\",\"protein_count\":1},{\"ec_number\":\"1.17.1.8\",\"protein_count\":1},{\"ec_number\":\"1.7.99.7\",\"protein_count\":1},{\"ec_number\":\"7.2.2.12\",\"protein_count\":2},{\"ec_n[...]
