{
  "log": {
    "_recordingName": "pept2funct",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "030df17329c5efaaf2b1810c1567c2b1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"input\":[\"AALTER\"]}"
          },
          "queryString": [],
          "url": "https://api.unipept.ugent.be/api/v2/pept2funct.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 275743,
            "text": "[{\"peptide\":\"AALTER\",\"total_protein_count\":7594,\"ec\":[{\"ec_number\":\"4.1.2.48\",\"protein_count\":3},{\"ec_number\":\"1.1.99.39\",\"protein_count\":3},{\"ec_number\":\"3.1.1.-\",\"protein_count\":6},{\"ec_number\":\"6.3.2.5\",\"protein_count\":3},{\"ec_number\":\"6.5.1.1\",\"protein_count\":5},{\"ec_number\":\"3.4.11.9\",\"protein_count\":3},{\"ec_number\":\"6.4.1.8\",\"protein_count\":1},{\"ec_number\":\"6.1.1.19\",\"protein_count\":5},{\"ec_number\":\"5.4.2.3\",\"protein_count\":1},{\"ec_number\":\"6.2.1.15\",\"protein_count\":1},{\"ec_number\":\"2.7.1.2\",\"protein_count\":1},{\"ec_number[...]
