{
  "log": {
    "_recordingName": "taxa2lca",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e4998bb97f3e1cd7a2b8efdb49f43dac",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"input\":[216816,1680]}"
          },
          "queryString": [],
          "url": "https://api.unipept.ugent.be/api/v2/taxa2lca.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 69,
            "text": "{\"taxon_id\":1678,\"taxon_name\":\"Bifidobacterium\",\"taxon_rank\":\"genus\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 98,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
