{
  "log": {
    "_recordingName": "pept2go",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f0ab823353776abfcc1bf6d186982a61",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"input\":[\"AALTER\"]}"
          },
          "queryString": [],
          "url": "https://api.unipept.ugent.be/api/v2/pept2go.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 99144,
            "text": "[{\"peptide\":\"AALTER\",\"cutoff_used\":true,\"total_protein_count\":9050,\"go\":[{\"go_term\":\"GO:0004478\",\"protein_count\":2},{\"go_term\":\"GO:0016780\",\"protein_count\":3},{\"go_term\":\"GO:0004337\",\"protein_count\":1},{\"go_term\":\"GO:0004563\",\"protein_count\":7},{\"go_term\":\"GO:0006040\",\"protein_count\":1},{\"go_term\":\"GO:0008781\",\"protein_count\":1},{\"go_term\":\"GO:0030016\",\"protein_count\":1},{\"go_term\":\"GO:0001510\",\"protein_count\":5},{\"go_term\":\"GO:0004601\",\"protein_count\":3},{\"go_term\":\"GO:0045493\",\"protein_count\":2},{\"go_term\":\"GO:0070626\",\"protein_count\":1},{\"go_t[...]
