{
  "log": {
    "_recordingName": "pept2go",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "df9a5c06bd178f1644cc183dd2279a37",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"input\":[\"AALTER\"]}"
          },
          "queryString": [],
          "url": "https://api.unipept.ugent.be/api/v2/pept2go.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 84368,
            "text": "[{\"peptide\":\"AALTER\",\"total_protein_count\":7594,\"go\":[{\"go_term\":\"GO:0005980\",\"protein_count\":2},{\"go_term\":\"GO:0031674\",\"protein_count\":1},{\"go_term\":\"GO:0055052\",\"protein_count\":4},{\"go_term\":\"GO:0003885\",\"protein_count\":1},{\"go_term\":\"GO:0034039\",\"protein_count\":13},{\"go_term\":\"GO:0004462\",\"protein_count\":1},{\"go_term\":\"GO:0034040\",\"protein_count\":1},{\"go_term\":\"GO:0051213\",\"protein_count\":7},{\"go_term\":\"GO:0006106\",\"protein_count\":2},{\"go_term\":\"GO:0030136\",\"protein_count\":2},{\"go_term\":\"GO:0042981\",\"protein_count\":2},{\"go_[...]
