{
  "log": {
    "_recordingName": "pept2lca",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e176026c6b15c135ac9806fbddd08beb",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"input\":[\"AALTER\"]}"
          },
          "queryString": [],
          "url": "https://api.unipept.ugent.be/api/v2/pept2lca.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 78,
            "text": "[{\"peptide\":\"AALTER\",\"taxon_id\":1,\"taxon_name\":\"root\",\"taxon_rank\":\"no rank\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 141,
      },
      {
        "_id": "e176026c6b15c135ac9806fbddd08beb",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"input\":[\"AALTER\"]}"
          },
          "queryString": [],
          "url": "https://api.unipept.ugent.be/api/v2/pept2lca.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 78,
            "text": "[{\"peptide\":\"AALTER\",\"taxon_id\":1,\"taxon_name\":\"root\",\"taxon_rank\":\"no rank\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 37,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
