{
  "log": {
    "_recordingName": "pept2lca",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0a388dce8c7ec6da704890ce8c4b08cd",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"input\":[\"AALTER\"]}"
          },
          "queryString": [],
          "url": "https://api.unipept.ugent.be/api/v2/pept2lca.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 97,
            "text": "[{\"peptide\":\"AALTER\",\"cutoff_used\":true,\"taxon_id\":1,\"taxon_name\":\"root\",\"taxon_rank\":\"no rank\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 131,
      },
      {
        "_id": "0a388dce8c7ec6da704890ce8c4b08cd",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"input\":[\"AALTER\"]}"
          },
          "queryString": [],
          "url": "https://api.unipept.ugent.be/api[...]
